.dashboard-container {
  min-height: 100vh;
  padding: 30px;
  font-family: Poppins, sans-serif;
  background: url(../../public/weather.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  color: #212020;
}

.dashboard-container h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.search-container input {
  width: 300px;
  max-width: calc(100vw - 40px);
  padding: 15px 15px;
  border-radius: 24px;
  font-weight: 600;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 6px 20px rgba(0,0,0,0.18);
  font-size: 16px;
}

.search-container button {
  padding: 8px 12px;
  margin-left: 15px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
  color: #111;
  transition: all 0.3s ease;
}

.search-container button:hover {
  background: rgb(196, 192, 192);     
  box-shadow: 0 8px 25px rgba(0,0,0,0.25); 
}

.weather-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-weight: 600;
  width: 180px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.chart-container {
  max-width: 800px;
  margin: 0 auto 20px auto;
  background-color: rgba(243, 243, 206, 0.7) ;
  border-radius: 9%;
}

.advisory-box {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #bdbebd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.forecast-title {
  text-align: center;  
  color: rgb(255, 255, 255);        
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

